{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <h2 class="mb-4">Sales by Cashier</h2>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Cashier</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        {% for row in cashier_sales %}
        <tr>
          <td>{{ row.cashier__username }}</td>
          <td>{{ row.total_sales }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
